$colors: (
	'blanc':#fff,
	'rouge' :#eb1118,
	'bleu' : #173a65, //bleu principal 
	//'bleu-fonce' : #30358C,
	'bleu-clair' : #F0F7FF,//pour les fonds
	'fond' : #F0F7FF,//pour les fonds
	'bordure' : #c2d6ee,
	'gradient' : linear-gradient(#18AD92,#173a65),   
	'cyan' : #18AD92,
	'vert' : #187C7F,
	'noir' : #081525, 
	'gris' :#959698

);



// Breakpoints
@mixin bp($point) {
	$sm: "(min-width: 500px)";
	$md: "(min-width: 768px)";
	$lg: "(min-width: 960px)";
	$xl: "(min-width: 1400px)";
	$xxl: "(min-width: 1920px)";
  
	@if $point == sm {
	@media #{$sm} { @content; }
	}
	@else if $point == md {
	@media #{$md} { @content; }
	}

	@else if $point == lg {
	@media #{$lg} { @content; }
	}
  
	@else if $point == xl {
	@media #{$xl} { @content; }
	}

	@else if $point == xxl {
		@media #{$xxl} { @content; }
		}
}


@mixin bleed {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
}


@mixin bouton {
	border: none;
	cursor: pointer;
	display:inline-block;
	padding: 1rem 1.2rem 0.8rem;
	text-align: center;
	vertical-align: middle;
}

@mixin screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

@mixin placeholder {
	color:#727272;
	opacity:1;
}

@mixin object-fit {
	object-fit: cover;
	object-position: center;
	width: 100%;
}

//TODO supprimer après avoir remplacé toutes les occurences par la nouvelle mixin
@mixin oldfs($px) {
	font-size:calc(#{$px} * var(--taille-texte) / 20);
}

@mixin fs($min-font-size, $max-font-size) {
	$font-size-step: 0.1rem;
	$min-screen-width:360px;
	$max-screen-width:1440px;

	font-size: $max-font-size;
	@media all and (max-width: $min-screen-width) {
		font-size: $min-font-size;
	}

	@if $font-size-step <= 0 {
		@warn "parameter to responsive-font-size: font-size-step must be greater than 0";
	}
	@else {
		$min-scale-factor: $min-font-size / $min-screen-width / 1rem * 1px;
		$max-scale-factor: $max-font-size / $max-screen-width / 1rem * 1px;

		$screen-width: round($max-screen-width);
		$font-size: $max-font-size;

		@while $screen-width >= $min-screen-width {

			$progress: ($screen-width - $min-screen-width) / ($max-screen-width - $min-screen-width);
			$scale-factor: $min-scale-factor + $progress * ($max-scale-factor - $min-scale-factor);

			$font-size: $screen-width * $scale-factor / 1px * 1rem;

			@media all and (max-width: $screen-width) {
				font-size: $font-size;
			}

			$screen-width-step: $font-size-step / $scale-factor / 1rem * 1px;
			@if $screen-width-step < 1px {
				$screen-width-step: 1px;
			}

			$screen-width: round($screen-width - $screen-width-step);
		}
	}
}
