.home-liste {
  margin: 5.5rem auto;
  padding-left: 3rem;
}
.home-liste .titre {
  font-size: 2.2rem;
  font-weight: 700;
  position: relative;
}
.home-liste .titre strong {
  color: var(--cyan);
}
.home-liste .titre::before {
  content: " ";
  width: 1.4rem;
  left: -3rem;
  height: 3px;
  background: var(--bleu);
  position: absolute;
  top: 1.5rem;
  border-radius: 100px;
}
.home-liste .texte {
  color: var(--bleu);
  font-size: 2rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 1024px) {
  .home-liste {
    margin: 5.5rem auto;
    max-width: 85rem;
    padding-left: 0;
  }
}