.home-join {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem var(--padding-x) 4rem;
}
.home-join a.button {
  font-weight: 300;
  font-size: 2.2rem;
}
.home-join a.button span {
  font-weight: 700;
}
.home-join, .home-join .title, .home-join .subtitle {
  color: var(--bleu);
}
.home-join .title, .home-join .subtitle {
  font-weight: bold;
  margin-top: 0;
}
.home-join .title {
  font-size: 3.8rem;
  line-height: 5.2rem;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.home-join .subtitle {
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 9px;
}
.home-join .offers {
  list-style: none;
  margin: 0 0 4rem;
  padding: 0;
  width: 100%;
}
.home-join .offer {
  --size:0.8rem;
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  justify-content: center;
  margin: 0;
  position: relative;
  text-align: center;
}
.home-join .offer .picto {
  height: var(--size);
  margin-right: 6px;
  width: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px;
}
.home-join .offer .picto svg {
  max-width: var(--size);
}
.home-join .decor {
  --size:4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--size);
}
.home-join .decor svg {
  max-height: 100%;
}
@media (min-width: 1024px) {
  .home-join {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }
  .home-join .title {
    font-size: 6rem;
    line-height: 8.2rem;
  }
  .home-join .subtitle {
    font-size: 3.2rem;
    line-height: 4.3rem;
    margin-bottom: 2.8rem;
  }
  .home-join .offers {
    margin-bottom: 2rem;
  }
  .home-join .offer {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 7px;
  }
  .home-join .text {
    font-size: 3.2rem;
    line-height: 4.3rem;
    margin-bottom: 2.3rem;
  }
  .home-join .small-text {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 8rem;
  }
  .home-join .decor {
    --size:10rem;
  }
}