.advisor {
	--size : 4.7rem;
	align-items: center;
	display: flex;

	.portrait {
		display: flex;
		height:var(--size);
		width:var(--size);
		img {
			border-radius: 100%;
			object-fit:cover;
			object-position: center;
		}
	
	}
	.name {
		color:var(--cyan);
		font-weight: 700;
		margin-bottom: 0;
		@include fs(1.4rem,2.4rem);
	}
	&.advisor-product {
		flex-direction: row;
		margin-bottom: 0.6rem;
		.text {
			margin-left: 1rem;
		}
		.above-name {
			@include fs(1rem,1.8rem);
			font-weight: 700;
			margin-bottom: 0;
		}
	}

	@include bp(lg) {
		--size:8rem;
	}
}