.filtre {
	@include fs(19);

	align-items: center;
	background-color: var(--fond);
	color:var(--noir);
	display: flex;
	overflow-x: auto;
	padding: 1.5rem var(--padding-x);
}

.filtre-sep {
	padding: 0 2ch 0.5rem 0; //on le décale un peu vers le haut
}

.filtre-input {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.filtre-label {
	cursor: pointer;
	flex-shrink:0; //forcer scroll en mobile
	padding-right : 2ch; // respiration sur le dernier élément en mobile
	text-transform: uppercase;
}
.filtre-input:focus-visible + .filtre-label {
	outline:dotted 1px var(--noir);
}
.filtre-input:checked + .filtre-label {
	font-weight: 700;
}