.filtre {
	display: flex;
	flex-direction: column;

}
.filtre-titre {
	@include fs(1.5rem,3.8rem);
	border-bottom:solid 1px var(--bordure);
	color:var(--bleu);
	font-weight: 700;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	text-transform: uppercase;
}

.filtre-input {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.filtre-label {
	cursor: pointer;
	@include fs(1.5rem,2rem);
	line-height: 4rem;
	&::before {
		display: none;
	}
}
.filtre-input:focus + .filtre-label {
	color:var(--bleu);
}
.filtre-input:focus-visible + .filtre-label {
	outline:dotted 1px var(--noir);
}
.filtre-input:checked + .filtre-label {
	color:var(--cyan);
	font-weight: 700;
}