.owl-nav {
	display: flex;
	justify-content: space-between;
	left:0;
	position:absolute;
	top:calc(50% - 20px);
	width:100%;
	button {
		background-color:transparent;
		border:none;
		margin:10px;
		padding:0; 
			
		span {
			background-image:url('icons/Fleche-P.svg');
			background-size:contain;
			background-repeat: no-repeat;
			background-position: center;
			color:transparent;
			display: block;
			height:19px;
			left: -20px;
			position:relative;
			width:10px;
			@include bp(md) {
				left:-50px;
			}

		}
		&.owl-next span {
			background-image:url('icons/Fleche-S.svg');
			left:20px;
			@include bp(md) {
				left:50px;
			}
		}
	}

}