.paywall-message {
	padding-bottom: 5rem;
	text-align: center;

	.phrase-1, .phrase-2 {
		color:var(--bleu);
		font-weight: bold;
		margin-bottom: 3rem;
	}
	p.phrase-1 {
		font-size: 2.6rem;
	}
	p.phrase-2 {
		font-size: 2.2rem;
	}

	a.button  {
		margin-bottom: 4.7rem;
	}

	.form-wrap h2 {
		display: none;
	}

	#loginform {
		margin:0 auto;
		max-width:40rem;
		label {
			font-size: 2rem;
			font-weight: 300;
		}
		input[type="text"], input[type="password"] {
			background-color: transparent;
			border:none;
			border-bottom:solid 1px var(--bleu);
			max-width: unset;
			width:100% !important;
		}
		
		
		.login-submit {
			margin-bottom: 0.5rem;
			margin-top: 2rem;
			text-align: center;
		}
		input[type="submit"] {
			background-color: var(--bleu);
			color:var(--blanc);
			display: inline-block;
			font-weight: 700;
			width:20rem;
			&:hover, &:focus {
				background-color: var(--cyan);
			}
		}

		
	}
	hr {
		display: none;
	}
	.pmpro_actions_nav {
		a {
			color:var(--bleu);
			font-weight: 300;
		}
	}

}