
button,
input[type="button"],
.site-container .nf-form-content input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.wp-block-button__link,
.is-style-outline > a.wp-block-button__link,
.is-style-outline > .wp-block-button__link:not(.has-text-color) {
	@include bouton;
	@include couleurs-bouton;
	&.picto {
		background-color: transparent;
		border:none;
		padding:0;
	}
}
