
:root {
	@each $name, $color in $colors {
	
	--#{$name} : #{$color};
	}

}


@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
	a.wp-block-button__link.has-#{$name}-background-color {
		background-color: $color;
		&:focus, &:hover {
			background-color: $color;
			filter:brightness(0.8);
		}
	}

	.wp-block-button.is-style-outline a.wp-block-button__link.has-#{$name}-color {
		border-color: $color;
		color: $color;
		&:focus, &:hover {
			filter:brightness(0.8);
		}
	}

}