html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr {
	background-color: var(--bordure);
	border: 0;
	height: 1px;
	margin-top: 2em;
}

ul:not([class]),
ol:not([class]) {
	margin: 0 0 1.5em 0;
	padding-left:1em;
}

ul:not([class])  {
	list-style: none;
	padding-left:1em;
	> li::before {
		content: '•'; 
		color: var(--bleu);
		display: inline-block; 
		width: 1em;
		margin-left: -1em		
	}
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
	figcaption {
		text-align: center;
	}
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/




input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--bleu);
	border: 1px solid var(--bleu);
	border-radius: 0;
	font-size: 2rem;
	font-weight: 700;
	outline-color:var(--bleu);
	min-height:5rem;
	padding: 1rem 1.5rem;
	
	&:focus {
		border-color:var(--cyan);
		color: var(--cyan);
		outline:none;
	}

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		@include placeholder;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		@include placeholder;

	}
	&:-ms-input-placeholder { /* IE 10+ */
		@include placeholder;

	}
	&:-moz-placeholder { /* Firefox 18- */
		@include placeholder;
	}
}

select {
	border: 1px solid var(--bleu);
}

textarea {
	width: 100%;
}


@supports(-webkit-appearance: none) or (-moz-appearance: none) {
	input[type='checkbox'] {
		-webkit-appearance: none;
		-moz-appearance: none;

		& + label {
			--size:1.4rem;
			--color:var(--bleu);
			color:var(--color);
			&::before, &::after { // la marque peut être avant ou après le label
				align-items: center;
				border: solid 1px var(--color);
				border-radius: 100%;
				content:'l';
				color:transparent;
				display: inline-flex;
				font-size: 120%;
				height:var(--size);
				justify-content: center;
				margin-right: 0.5ch;
				padding-bottom: 1px;
				position: relative;
				text-align: center;
				top: 1px;
				width:var(--size);
			}
			&::after {
				//par défaut elle est avant
				display:none;
				margin-left: 0.5ch;
				margin-right:0;
			}
		}

		&:focus + label {
			color:var(--cyan);
		}
		&:checked + label {
			--color:var(--cyan);
			&::before, &::after {
				color:var(--color);
				content:'•';
			} 
		}
	}
}

/*--------------------------------------------------------------
## Search form
--------------------------------------------------------------*/

.search-form {
	align-items: stretch;
	display: flex;
	justify-content: flex-start;
}
.search-form .search-field {
	border:solid 1px var(--bleu);
	height: 40px;
	line-height: 40px;
	margin-bottom: 0;
	padding-left: 1.2rem;
	&:focus-visible, &:focus {
		border-color:var(--bleu);
		outline:none;
	}
}
.search-form .search-submit {
	margin-bottom: 0;
	margin-left:14px;
	padding:0;
	height:40px;
	min-width:unset;
	text-align: center;
	width:49px;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

