/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
:root {
	--transition:0.45s ease-in-out;
}
a,
a:visited {
	color: var(--cyan);
	font-weight: 700;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: underline;
}



a:hover,
a:focus,
a:active {
	outline: 0;
}
a:focus-visible {
	outline: medium dotted;
}


/*--------------------------------------------------------------
## Ancres
--------------------------------------------------------------*/
.avec-ancre {
	position: relative;
	.ancre {
		left:0;
		position:absolute;
		top:calc(-1px * var(--header-bottom));
	}
}

/*--------------------------------------------------------------
## Fil d'ariane
--------------------------------------------------------------*/
p.fil-ariane {
	margin:var(--margin-y-1) 0;
	a {
		color:var(--bleu);
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

/*--------------------------------------------------------------
## Lien ma selection
--------------------------------------------------------------*/
.site-header a.selection {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	position:absolute;
	right:var(--margin-x-header);
	text-align: center;
	top:1.4rem;
	.count {
		--diametre:1.6rem;
		background-color: var(--cyan);
		border-radius: 100%;
		color:var(--blanc);
		height:var(--diametre);
		line-height: var(--diametre);
		margin-bottom: 3px;
		text-align: center;
		width:var(--diametre);
	}

	@include bp(lg) {
		display: flex;
		flex-direction: row-reverse;
		font-size: 1.6rem;
		font-weight: 300;
		top:3px;
		.count {
			--diametre:2.5rem;
			background-color: transparent;
			border:solid 1px var(--cyan);
			color:var(--cyan);
			margin-left: 7px;
		}
		&:hover, &:focus {
			text-decoration: none !important;
		}
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
//Reset styles menus
.nav-menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

/*Logique pour afficher/masquer éléments du menu mobile et sous-menus*/ 


.nav-menu.desktop, .volet-navigation, .sub-menu {
	display: none; // tous les menus sont cachés en mobile
}

button.menu-toggle {
	display: block;
	&:focus {
		outline: none;
	}
	svg.fermer-menu { //croix pour refermer le menu
		display:none;
	}
	//menu mobile ouvert
	&[aria-expanded=true] {
		svg.menu { //cacher hamburger 
			display:none;
		}
		svg.fermer-menu { // afficher croix
			display:block;
		}
	}
}

.volet-navigation.toggled { 
	display: flex;
	flex-direction: column;
	left:calc(-1 * var(--margin-x-header));
	//max-height:calc(100vh - 64px); //magic number : hauteur de la topbar
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute;
	top:100%;
	top: calc(100% - 1px); //pour cacher la bordure du header 
	width:100vw;
	z-index: 10;
}

@include bp(lg) { 
	button.menu-toggle {
		display: none;
	}
	.nav-menu.desktop { //menus affichés en desktop
		display:flex;
	}
}


/* Style pictos menu mobile */

.menu-toggle {
	background:transparent;
	border:0;
	margin:0;
	min-width:unset;
	padding:0 1rem;
	&:hover, &:focus, &:active {
		background:transparent;
	}
	svg path {
		fill : var(--cyan);
	}
}

/* Styles communs menus desktop et mobile */
.site-header .nav-menu {
	.menu-item {
		a {
			color:var(--bleu);
			display: inline-block;
			font-size: 1.6rem;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			&:hover, &:focus {
				color:var(--cyan);
			}
		} 
		&.focus, &:focus-within, &.current-menu-item {
			a {
				color:var(--cyan);
			}
		}
	}
}
/* Style liens de menu VOLET NAVIGATION MOBILE */
.volet-navigation {
	background-color:var(--blanc);
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
	padding:2rem;

	.nav-menu {
		border-bottom: solid 1px var(--bleu);
		flex-direction: column;
		margin-bottom: 0.9rem;
		padding-bottom:0.9rem;
		&:last-of-type {
			border-bottom:none;
		}
	}

	.menu-item {
		align-items: center;
		display: flex;
		flex-wrap:wrap;
		padding:0;
		padding-bottom: 0.5em;
		justify-content: space-between;

		&.js-ouvert, &.current-menu-item, &.focus, & a:focus {
			button.ouvrir-sous-menu svg path {
				fill:var(--cyan);
			}
		}
	}

	button.ouvrir-sous-menu {
		padding:0 1rem;
		svg path {
			fill:var(--bleu);
		}
		&:focus {
			outline: none;
		}
	}


	/*Logique affichage sous-menu*/
	.sub-menu {
		display: none;
		//animation JS pour ouvrir/refermer
	}


	/*Styles sous-menu*/
	.nav-menu .sub-menu, .nav-menu .sub-menu-2 {
		flex-basis:100%;
		flex-shrink:0;
		list-style: none;
		margin: 0;
		padding-left: 1rem;
		padding-top: 0.5rem;

		li {
			margin-bottom: 0rem;
			a {
				font-size: 1.3rem;
				font-weight: 300;
				text-decoration: none;
				text-transform: unset;
			}
		}

		.picto-angle {
			display: none;
		}
	}
	

	
}


/*Style liens de menus MENU PRINCIPAL */ 
.nav-main { 
	align-items: center;
	justify-content: space-between;
	padding:0 var(--padding-x);

	.centreur {
		flex-basis:4rem;
		flex-shrink: 0;
		&:last-of-type {
			text-align: right;
		}
	}
	.nav-primary { //conteneur du menu
		flex-grow:0;
	}
	.search-form {
		justify-content: flex-end;
	}
	.menu {
		justify-content: space-around;
		width:100%;
		li {
			padding:0 1rem;
		}
		a {
			color:var(--noir);
			display: block;
			text-decoration: none;
			text-transform: uppercase;
		}

		//styles spécifiques aux liens de premier niveau

		& > li {
			& > a {
				padding:2rem 0;
				letter-spacing: 1px;
				transition: none;
				text-decoration: none;
			}
			
			&:hover > a, & > a:focus, & > a:active, &:focus-within > a, &.current-menu-item > a, &.current-menu-ancestor > a {
				color :var(--bleu);
				font-weight: 400;
				text-decoration: underline;
				text-underline-offset:1rem;
				text-decoration-thickness: 2px;
			}
		}

		//styles spécifiques aux liens de premier niveau DESKTOP XL
		@include bp(xl) {
			& > li {
				padding-left:2rem;
				padding-right:2rem;

				& > a {
					@include oldfs(28);
					letter-spacing: 1.86px;
				}
			}
			
		}


		//Logique affichage sous-menu
		.sub-menu { 
			float: left;
			margin-top:0px;
			position: absolute;
			top: 90%;
			top: calc(100% - 0.5rem);
			left: -999em;
			z-index: 10;
		}

		> li { //affichage du sous-menu
			position: relative;
			&:hover, &.focus, &:focus-within { //classe .focus ajoutée en JS
				.sub-menu {
					animation: animSousMenu 0.45s cubic-bezier(0.7,0,0.3,1) both;
					display:flex;
					flex-direction: column;
					left:0;
					opacity:1;
					max-width:30rem;
					min-width:20rem;
				}
			}
		}

		//Style sous-menu
		.sub-menu {
			background: var(--blanc);
			border: 1px solid var(--bleu);
			list-style:none;
			margin:0;
			padding:0;
			padding-right:2rem;
			li {
				padding : 1rem;
				position: relative;
			}
			a {
				@include oldfs(18);
				color:var(--bleu);
				left:0;
				line-height:1.1;
				position: relative;
				transition: left var(--transition);
				&:hover, &:focus {
					color:var(--bleu);
					font-weight: 400;
					left:0.5rem;
				}
			}
		}
	}

	

}

//Bouton recherche
button.recherche {
	padding:0;
	width:2rem;
	@include bp(xl) {
		width:3rem;
	}
	&:hover, &:focus {
		transform:scale(1.1);
		svg path {
			fill:var(--bleu);
		}
	}
}




/*Animations*/
@keyframes animTrait {
	from { 
		width: 0; 
	}
}

@keyframes animSousMenu {
	from { 
		opacity:0.4;
		top: calc(90% + 10px); 
	}
}

