/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
:root {
	--transition:0.45s ease-in-out;
}
a,
a:visited {
	color: var(--cyan);
	font-weight: 700;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: underline;
}



a:hover,
a:focus,
a:active {
	outline: 0;
}
a:focus-visible {
	outline: medium dotted;
}


/*--------------------------------------------------------------
## Ancres
--------------------------------------------------------------*/
.avec-ancre {
	position: relative;
	.ancre {
		left:0;
		position:absolute;
		top:calc(-1px * var(--header-bottom));
	}
}

/*--------------------------------------------------------------
## Fil d'ariane
--------------------------------------------------------------*/
p.fil-ariane {
	margin:var(--margin-y-1) 0;
	a {
		color:var(--bleu);
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	&, a, span {
		@include fs(1.2rem,1.8rem);
	}
}
@include bp(lg) {
	body.single.js-product-menu-open {
		p.fil-ariane {
			margin-top: calc(var(--margin-y-1) + 5rem);
		}
	}

}

/*--------------------------------------------------------------
## Lien ma selection
--------------------------------------------------------------*/
.site-header a.selection {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	position:absolute;
	right:var(--margin-x-header);
	text-align: center;
	top:1.4rem;
	.count {
		--diametre:1.6rem;
		background-color: var(--cyan);
		border-radius: 100%;
		color:var(--blanc);
		height:var(--diametre);
		line-height: var(--diametre);
		margin-bottom: 3px;
		text-align: center;
		width:var(--diametre);
	}

	@include bp(lg) {
		display: flex;
		flex-direction: row-reverse;
		font-size: 1.6rem;
		font-weight: 700;
		top:5px;
		.count {
			--diametre:1.8rem;
			background-color: var(--cyan);
			border:solid 1px var(--cyan);
			color:var(--blanc);
			margin-left: 7px;
			line-height:  1.8rem;
			font-size:  1.5rem;
			margin-top: 5px;
		}
		&:hover, &:focus {
			text-decoration: none !important;
		}
	}
}

/*--------------------------------------------------------------
## Signin link
--------------------------------------------------------------*/
.header-right {
	position: relative;
	--size:5rem;
	@include bp(md) {
		--size:7rem;
	}
	@include bp(lg) {
		--size:9rem;
	}
	.circle {
		background-color: var(--fond);
		border-radius:100%;
		height:var(--size);
		position: absolute;
		right:0;
		width:var(--size);
	}
}
.signin {
	font-size: 1.4rem;
	padding-right: 2px;
	position:relative;
	text-align: right;
	
	a {
		font-weight:300;
	}

	@include bp(md) {
		font-size: 1.6rem;
		padding-right: 0;
		br {
			display: none;
		}
	}
	@include bp(lg) {
		font-size: 2rem;
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
//Reset styles menus
.nav-menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

/*Logique pour afficher/masquer éléments du menu mobile et sous-menus*/ 


.nav-menu.desktop, .volet-navigation, .sub-menu {
	display: none; // tous les menus sont cachés en mobile
}

button.menu-toggle {
	display: block;
	&:focus {
		outline: none;
	}
	svg.fermer-menu { //croix pour refermer le menu
		display:none;
	}
	//menu mobile ouvert
	&[aria-expanded=true] {
		svg.menu { //cacher hamburger 
			display:none;
		}
		svg.fermer-menu { // afficher croix
			display:block;
		}
	}
}

.volet-navigation.toggled { 
	display: flex;
	flex-direction: column;
	left:calc(-1 * var(--margin-x-header));
	//max-height:calc(100vh - 64px); //magic number : hauteur de la topbar
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute;
	top:100%;
	top: calc(100% - 1px); //pour cacher la bordure du header 
	width:100vw;
	z-index: 10;
}

@include bp(lg) { 
	button.menu-toggle {
		display: none;
	}
	.nav-menu.desktop { //menus affichés en desktop
		display:flex;
	}
}


/* Style pictos menu mobile */

.menu-toggle {
	background:transparent;
	border:0;
	margin:0;
	min-width:unset;
	padding:0 1rem;
	&:hover, &:focus, &:active {
		background:transparent;
	}
	svg path {
		fill : var(--cyan);
	}
}

/* Styles communs menus desktop et mobile */
.site-header .nav-menu {
	.menu-item {
		a {
			color:var(--bleu);
			display: inline-block;
			font-size: 1.8rem;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			&:hover, &:focus {
				color:var(--cyan);
			}
		} 
		&.focus, &:focus-within, &.current-menu-item {
			a {
				color:var(--cyan);
			}
		}
	}
}
/* Style liens de menu VOLET NAVIGATION MOBILE */
.volet-navigation {
	background-color:var(--blanc);
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
	padding:2rem;

	.nav-menu {
		border-bottom: solid 1px var(--bleu);
		flex-direction: column;
		margin-bottom: 0.9rem;
		padding-bottom:0.9rem;
		&:last-of-type {
			border-bottom:none;
		}
	}

	.menu-item {
		align-items: center;
		display: flex;
		flex-wrap:wrap;
		padding:0;
		padding-bottom: 0.5em;
		justify-content: space-between;

		&.js-ouvert, &.current-menu-item, &.focus, & a:focus {
			button.ouvrir-sous-menu svg path {
				fill:var(--cyan);
			}
		}
	}

	button.ouvrir-sous-menu {
		padding:0 1rem;
		svg path {
			fill:var(--bleu);
		}
		&:focus {
			outline: none;
		}
	}


	/*Logique affichage sous-menu*/
	.sub-menu {
		display: none;
		//animation JS pour ouvrir/refermer
	}


	/*Styles sous-menu*/
	.nav-menu .sub-menu, .nav-menu .sub-menu-2 {
		flex-basis:100%;
		flex-shrink:0;
		list-style: none;
		margin: 0;
		padding-left: 1rem;
		padding-top: 0.5rem;

		li {
			margin-bottom: 0rem;
			a {
				font-size: 1.3rem;
				font-weight: 300;
				text-decoration: none;
				text-transform: unset;
			}
		}

		.picto-angle {
			display: none;
		}
	}
	

	
}


/*Style liens de menus DESKTOP */ 
.nav-menu.desktop { 
	justify-content: space-around;

	//Liens de niveau 1
	.menu-item {
		text-align: center;
		> .picto {
			display: none;
		}
	}

	&.menu-products {  //affichage des sous-menus produits
		align-items: flex-start;
		padding-top: 1rem;
		padding-left: 4rem;
		position: relative;
		top: 4px;

		.menu-item {
			max-width: 13rem;
			padding: 1rem;
		}

		.sub-menu, .sub-menu-2 {
			list-style: none;
			display: none;
			margin: 0;
			padding: 0;
		}
		.current-menu-item {
			background-color: var(--blanc);
			border:solid 1px var(--noir);
			border-bottom: 0;
			padding-bottom: 2rem;
			.sub-menu {
				background-color: var(--blanc);
				border-bottom: solid 1px var(--bleu);
				display: flex;
				height:4.6rem;
				left:0;
				position: absolute;
				width:calc(100vw - 2 * var(--margin-x-header));
				top:100%;
			}
		}

		@include bp(xl) {
			padding-top: 3rem;
			.menu-item {
				padding-top: 1.5rem;
			}
			.current-menu-item {
				padding-bottom: 3.5rem;
			}
		}

		.sub-menu > li {
			align-items: center;
			display: flex;
			padding-left:3.4rem;
			position: relative;
			a {
				color:var(--bleu);
				font-weight: 300;
			}

			.picto-angle {
				align-items: center;
				display: flex;
				margin-left: 0.5rem;
			}

			//Sous menu niveau 2
			.sub-menu-2 { 
				float: left;
				margin-top:0px;
				position: absolute;
				top: 90%;
				top: calc(100% - 0.5rem);
				left: -999em;
				z-index: 10;
			}

			&:hover, &.focus, &:focus-within { //classe .focus ajoutée en JS
				.sub-menu-2 {
					animation: animSousMenu 0.45s cubic-bezier(0.7,0,0.3,1) both;
					background-color: var(--bleu);
					display:flex;
					flex-direction: column;
					left:calc(50% - 9rem);
					opacity:1;
					max-width:30rem;
					min-width:18rem;
				}
			}

		}

		.sub-menu-2 {
			padding:1.4rem;
			li {
				border-bottom:solid 1px var(--blanc);
				margin-bottom: 0.5em;
				padding-bottom : 0.5em;
				text-align: left;
				&:last-of-type {
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				a {
					color:var(--blanc);
					display: block;
				}
			}
		}

		
	}

	&.menu-the-source {
		justify-content: space-around;
		.menu-item {
			align-items: center;
			display: flex;
			max-width: 10rem;
			padding:1.5rem 1rem;

			@include bp(xl) {
				margin-left:2rem;
				margin-right:2rem;
			}
		}
		@include bp(xl) {
			padding-top: 3rem;
		}
	}

	&.menu-my-account { //affichage du sous-menu my account
		& > li {
			padding:1.5rem 0;
			a {
				color:var(--cyan);
				position: relative;
				font-weight: 300;
				text-transform: unset;
			}
			> a::after {
				background-image:url('icons/triangle-outline.svg');
				background-position: center 60%;
				background-repeat:no-repeat;
				background-size: contain;
				content:'';
				display: inline-block;
				height:1rem;
				margin-left:0.6rem;
				width:0.7rem;
			}
			//Logique affichage sous-menu
			.sub-menu { 
				float: left;
				margin-top:0px;
				position: absolute;
				top: 90%;
				top: calc(100% + 1rem);
				left: -999em;
				z-index: 10;
			}

			position: relative;
			&:hover, &.focus, &:focus-within { //classe .focus ajoutée en JS
				.sub-menu {
					animation: animSousMenu 0.45s cubic-bezier(0.7,0,0.3,1) both;
					display:flex;
					flex-direction: column;
					left:unset;
					right:0;
					opacity:1;
					max-width:30rem;
					min-width:25rem;
				}
			}
		}

		//Style sous-menu my account
		.sub-menu {
			background: linear-gradient(var(--cyan), var(--bleu));
			list-style:none;
			margin:0;
			padding:1.8rem 2.5rem;

			//extension invisible pour maintenir le sous-menu ouvert au déplacement de la souris du lien parent vers le sous-menu
			&::before {
				content:'';
				display: block;
				height:14px;
				left:0;
				position: absolute;
				top:-14px;
				width:100%;
			}
			//triangle décoratif
			&::after {
				border-left: 14px solid transparent;
				border-right: 14px solid transparent;
				border-bottom: 14px solid var(--cyan);
				content:'';
				display:inline-block;
				height: 0;
				position:absolute;
				right:47px;
				top:-14px;
				width: 0;
			}
			
			li {
				margin-bottom: 0.5rem;
				position: relative;
				text-align: center;
			}
			a {
				color:var(--blanc);
				font-size: 1.8rem;
				left:0;
				line-height:1.1;
				font-weight: 700;
				position: relative;
				transition: left var(--transition);
				text-transform: unset;
				&:hover, &:focus {
					left:0.5rem;
				}

				//target logout link, add an icon
				&[href*="logout"] {
					background-image:url('icons/logout.svg');
					background-position: left 3px;
					background-repeat:no-repeat;
					background-size: 1.6rem;
					padding-left: 2.2rem;
				}
			}
		}
	}

	
}


/*Animations*/
@keyframes animTrait {
	from { 
		width: 0; 
	}
}

@keyframes animSousMenu {
	from { 
		opacity:0.4;
		top: calc(90% + 10px); 
	}
}

