:root {
	--padding-lien:7px 12px;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
	--taille-texte:1.6rem;
	@include bp(sm) {
		--taille-texte:2rem;
	}
}

body,
button,
input,
select,
optgroup,
textarea {
	color:  map-get($colors, 'bleu'); //si les variables css ne sont pas supportées
	color: var(--bleu);
	font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include fs(1.6rem,2rem); //Maquette 1.2rem mobile
	font-weight: 300;
	line-height: 1.4;
}

::selection {
	background: var(--bleu);
	color: var(--blanc);
}

h1, .h1 {
	color:var(--bleu);
	@include fs(2.2rem,7rem);
	font-weight: 700;
	margin:auto 0;
	padding:0;
	text-align:center;
	text-transform: uppercase;
	@include dots;
}


h2,
h3,
h4,
.h2, .h3, .h4
{
	color:var(--bleu);
	clear: both;
	font-weight: 700;
	margin:0 0 1rem;

	&.dots {
		@include dots;
	}
}


h2, .h2 {
	@include fs(2rem,5rem);
}
p + h2, p + .h2 {
	margin-top:2em;
}
h3, .h3 {
	@include fs(1.7rem,4rem);
}
h4, .h4, h5, .h5, h6, .h6 {
	@include fs(1.6rem,3rem);

}

p {
	margin-bottom: 1em;
	margin-top:0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left:solid 5px var(--bleu);
	font-size:1.2em;
	margin: 0 0 1em;
	padding:5px 27px;
	cite {
		font-weight: 500;
	}
}

mark,
ins {
	background: var(--fond);
	text-decoration: none;
}

small, .has-small-font-size  {
	font-size: 80%;
}

.has-regular-font-size {
	font-size: 100%;
}

big, .has-big-font-size  {
	font-size: 125%;
}
.has-huge-font-size {
	font-size: 200%;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	@include screen-reader-text;
}

.screen-reader-text:focus {
	background-color: var(--fond);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	display: block;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

@media ( prefers-reduced-motion: reduce ) {
	* {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
}
