.section-banniere {
  margin-bottom: var(--margin-y-1);
}
.section-banniere .banniere-wrap {
  align-items: center;
  background-color: var(--bleu);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 39vw;
  position: relative;
  padding: var(--margin-y-2) var(--padding-x);
}
.section-banniere .banniere-wrap .image {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.section-banniere .banniere-wrap .image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.section-banniere .banniere-wrap .cadre {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 93rem;
  padding: var(--margin-y-1) var(--margin-y-1);
  position: relative;
  text-align: center;
}
@media (min-width: 1920px) {
  .section-banniere .banniere-wrap {
    min-height: 75rem;
  }
}