.pmpro-checkout {
	h2, h3 {
		color:var(--cyan);
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		background-color: transparent;
		border:none;
		border-bottom:solid 1px var(--bleu);
		font-weight: 300;
		width:100%;
		&#bemail {
			width:33rem;
		}
		&:focus, &.js-valid {
			border-color:var(--cyan);
			color:var(--cyan);
		}
		&.js-valid {
			background-image:url('icons/check-cyan.svg');
			background-size:9px;
			background-repeat: no-repeat;
			background-position:right;
			+ .pmpro_asterisk {
				display: none;
			}
		}
		&.js-invalid {
			background-image:url('icons/croix-rouge.svg');
			background-size:9px;
			background-repeat: no-repeat;
			background-position:right;
			border-color:var(--rouge);
			color:var(--rouge);
		}
	}
	select {
		&.js-valid, &.js-invalid {
			background-position:92%;
		}
	}
	form.pmpro_form label, #loginform label {
		font-size: 1.4rem;
		font-weight: 300;
		opacity:0;
		padding-left:1.5rem;
		position:relative;
		top:1.5rem;
		transition: opacity var(--transition);
		&.floating {
			opacity:0.3;
		}
	}
	.pmprosp-tooltip__password {
		display: none;
	}
	form.pmpro_form .lite {
		color:var(--bleu);
	}
	select {
		min-height:5rem;
		padding: 1rem 1.5rem;
	}
	.pmpro_form > div {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left:var(--margin-x-header);
		margin-right:var(--margin-x-header);
		overflow-y: hidden;
		padding:0 var(--padding-x);
	}
	#pmpro_user_fields {
		background-color: #f0f7ff;
		margin-top: -10rem;
		padding-top:12rem;
		position: relative;
		@include bp(lg) {
			padding-top: 15rem;
		}

		.pmpro_checkout-h3-msg a {
			color:var(--bleu);
			display: inline-block;
			font-weight: 300;
			margin-left: 1ch;
			text-decoration: underline;
			&:hover, &:focus {
				color:var(--cyan);
			}
		}
		
	}
	#pmpro_billing_address_fields {
		padding-bottom:5rem;

		position: relative;
		--fond:95%;
		@include bp(lg) {
			padding-bottom:10rem;
		}
		@include bp(xl) {
			--fond:90%;
		}

		& > * {
			position: relative;
		}

		&::before {
			background-color: #f0f7ff;
			content:'';
			clip-path: polygon(100% 0, 100% var(--fond), 50% 100%, 0 var(--fond), 0 0);
			display: block;
			height:100%;
			left:0;
			position:absolute;
			top:0;
			width:100%;
		}
	}

	.pmpro_checkout-fields {
		margin:0 auto;
		max-width:36rem;
		position: relative;
	}

	#pmprosp-password-notice {
		display: block;
		line-height: 1.1;
		margin-bottom: 2rem;
	}

	#pmpro_vat_table {
		text-align: center;
		hr {
			display: none;
		}
		h3 {
			@include dots;
			@include fs(2rem,5rem);
			display: flex;
			justify-content: center;
		}
		
		#eu_self_id_instructions {
			color:var(--cyan);
			font-weight: 700;
			margin-bottom: 0;
			text-align: center;
			text-transform: uppercase;
		}
		.pmpro_checkout-fields {
			max-width:unset;
		}
		select, input, label {
			margin: 0 auto;
			max-width: 36rem;
			position: relative;
			width:100%;
		}
		#vat-country-info {
			margin-bottom: 1rem;
			max-width:50rem;
		}
		#vat_have_number {
			margin-bottom: 0;
			input {
				@include screen-reader-text;
			}
			label {
				opacity:1;
				font-size: 2rem;
				top:0;
			}
		}
		#vat_number_validation_tr {
			margin-bottom:0;
			label {
				opacity:1;
			}
		}
		#vat_number_validation_button {
			margin:1em auto;
			width:20rem;
		}

	}

	form.pmpro_form #pmpro_payment_information_fields {
		display: block;
		padding: 0;
		text-align: center;
		h3 {
			@include dots;
			@include fs(2rem,5rem);
			display: flex;
			justify-content: center;
			margin-bottom: 5rem;
			position: relative;
			.pmpro_checkout-h3-msg {
				position:absolute;
				font-size: 1.5rem;
				font-style: normal;
				font-weight: 700;
				left:0;
				text-align: center;
				top:100%;
				width:100%;
			}
		}
		.pmpro_checkout-fields {
			display:block;
			max-width: unset;
			padding:2rem 2rem 1px;
		}

		label {
			font-size: 2rem;
			opacity: 1;
			padding-left:1.5rem;
			top:0;
		}
		
	}

	#pmpro_autorenewal_checkbox {
		padding:0 2rem;
		hr, h3 {
			display: none;
		}
		.pmpro_checkout_field-autorenew {
			display:flex;
		}
		label {
			line-height: 1.1;
			opacity: 1;
			font-size: 2rem;
			top:0;
		}
		.pmpro_checkout-fields {
			max-width:48rem;
		}
	}

	#pmpro_tos_fields {
		align-items: flex-start;
		padding:0 2rem 1rem;
		h2, #pmpro_license {
			display: none;
		}
		label {
			font-weight: 700;
			opacity: 1;
			font-size: 2rem;
			top:0;
		}
		a {
			color:var(--bleu);
			text-decoration: underline;
			&:hover, &:focus {
				color:var(--cyan);
			}
		}
		input:checked, input:focus { 
			& + label a {
				color:var(--cyan);
			}
		}
		.pmpro_checkout-fields {
			display: flex;
			margin:0;
			max-width:unset;
		}
	}
	.pmpro_form > div.pmpro_submit {
		margin:0 auto 4rem;
		padding-top: 1rem;
		padding-bottom: 2rem;
		#pmpro_submit_span{
			width: 100%;
		}
		input[type="submit"].pmpro_btn.pmpro_btn-submit-checkout {
			background-color: #fff;
			width:100%;
			&:hover, &:focus {
				background-color:var(--cyan);
			}
		}
		@include bp(lg) {
			margin-bottom: 8rem;
			padding-right:6rem;
			padding-left:6rem;

		}
	}

	form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields, 
	#pmpro_autorenewal_checkbox,
	#pmpro_tos_fields,
	.pmpro_submit {
		background-color: var(--fond);
		@include bp(sm) {
			margin-left: auto;
			margin-right: auto;
			max-width:48rem;
			padding-left:6rem;
			padding-right:6rem;
			width:48rem;
		}
	}

	//Fix pas de champs billing ou payment -> fond bleu pleine page
	#pmpro_level-2 {
		background-color: var(--fond);
		//padding-bottom: 1px;
	}
}


.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#AccountNumber, .pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#Expiry, .pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#CVV, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#AccountNumber, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#Expiry, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#CVV {
	border:none;
	border-bottom:solid 1px var(--bleu);
	padding-left:1.5rem;
}