.pmpro-checkout {
	.fil-ariane {
		display: none;
	}
	h2 {
		color:var(--bleu);
		margin-top: 0 !important;
		text-transform: uppercase;

		@include bp(lg) {
			font-size: 5rem;
			line-height: 6.8rem;
		}
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		background-color: transparent;
		border:none;
		border-bottom:solid 1px var(--bleu);
		font-weight: 300;
		width:100%;
		&#bemail {
			width:33rem;
		}
		&:focus, &.js-valid {
			border-color:var(--cyan);
			color:var(--cyan);
		}
		&.js-valid {
			background-image:url('icons/check-cyan.svg');
			background-size:9px;
			background-repeat: no-repeat;
			background-position:right;
			+ .pmpro_asterisk {
				display: none;
			}
		}
		&.js-invalid {
			background-image:url('icons/croix-rouge.svg');
			background-size:9px;
			background-repeat: no-repeat;
			background-position:right;
			border-color:var(--rouge);
			color:var(--rouge);
		}
	}
	select {
		&.js-valid, &.js-invalid {
			background-position:92%;
		}
	}
	form.pmpro_form label, #loginform label {
		font-size: 1.4rem;
		font-weight: 300;
		opacity:0;
		padding-left:1.5rem;
		position:relative;
		top:1.5rem;
		transition: opacity var(--transition);
		&.floating {
			opacity:0.3;
		}
		&[for="zs-com"] {
			font-size:2.2rem;
			font-weight: 700;
			opacity:1;
		}
		&[for^="zs-email"] {
			font-size:2rem;
			opacity:1;
		}
	}
	form.pmpro_form .pmpro_checkout-fields div[id^="zs-email"] {
		margin-bottom: 5px;
	}
	.pmprosp-tooltip__password {
		display: none;
	}
	form.pmpro_form .lite {
		color:var(--bleu);
	}
	select {
		min-height:5rem;
		padding: 1rem 1.5rem;
	}
	.pmpro_form > div {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left:var(--margin-x-header);
		margin-right:var(--margin-x-header);
		overflow-y: hidden;
		padding:0 var(--padding-x);
	}
	#pmpro_user_fields {
		
		position: relative;
		

		.pmpro_checkout-h3-msg a {
			color:var(--bleu);
			display: inline-block;
			font-weight: 300;
			margin-left: 1ch;
			text-decoration: underline;
			&:hover, &:focus {
				color:var(--cyan);
			}
		}
		
	}
	#pmpro_billing_address_fields {
		padding-bottom:5rem;

		position: relative;
		

		
	}

	#zs-lang_div {
		display: none;
	}

	.pmpro_checkout-fields {
		margin:0 auto;
		max-width:36rem;
		position: relative;

		div.pmpro_checkout-field-bphone {
			margin-bottom: 2em;
		}
	}

	#pmprosp-password-notice {
		display: block;
		line-height: 1.1;
		margin-bottom: 2rem;
	}
	
	h2 span.pmpro_checkout-h2-msg {
		display: block;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		@include bp(lg) {
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 3rem;
		}
	}

	form.pmpro_form #pmpro_payment_information_fields {
		display: block;
		padding: 0;
		text-align: center;
		
		.pmpro_checkout-fields {
			display:block;
			max-width: unset;
			padding:2rem 2rem 1px;
		}

		label {
			font-size: 2rem;
			opacity: 1;
			padding-left:1.5rem;
			top:0;
		}
		
	}

	#pmpro_autorenewal_checkbox {
		padding:0 2rem;
		hr, h3 {
			display: none;
		}
		.pmpro_checkout_field-autorenew {
			display:flex;
		}
		label {
			line-height: 1.1;
			opacity: 1;
			font-size: 2rem;
			top:0;
		}
		.pmpro_checkout-fields {
			width:100%;
		}
	}

	#pmpro_tos_fields {
		align-items: flex-start;
		padding:0 2rem 1rem;
		h2, #pmpro_license {
			display: none;
		}
		label {
			font-weight: 700;
			opacity: 1;
			font-size: 2rem;
			top:0;
		}
		a {
			color:var(--bleu);
			text-decoration: underline;
			&:hover, &:focus {
				color:var(--cyan);
			}
		}
		input:checked, input:focus { 
			& + label a {
				color:var(--cyan);
			}
		}
		.pmpro_checkout-fields {
			display: flex;
			margin:0;
			max-width:unset;
		}
	}
	.pmpro_form > div.pmpro_submit {
		margin:0 auto 4rem;
		padding-top: 1rem;
		padding-bottom: 2rem;
		#pmpro_submit_span{
			width: 100%;
		}
		input[type="submit"].pmpro_btn.pmpro_btn-submit-checkout {
			background-color: #fff;
			width:100%;
			&:hover, &:focus {
				background-color:var(--cyan);
			}
		}
		@include bp(lg) {
			margin-bottom: 8rem;
			padding-right:6rem;
			padding-left:6rem;

		}
	}

	form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields, 
	#pmpro_autorenewal_checkbox,
	#pmpro_tos_fields,
	.pmpro_submit {
		@include bp(sm) {
			margin-left: auto;
			margin-right: auto;
			max-width:48rem;
			padding-left:6rem;
			padding-right:6rem;
			width:48rem;
		}
	}


}


.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#AccountNumber, .pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#Expiry, .pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#CVV, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#AccountNumber, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#Expiry, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#CVV {
	border:none;
	border-bottom:solid 1px var(--bleu);
	padding-left:1.5rem;
}