
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/


.site-footer {
	background-color: var(--bleu-clair);
	font-size: 1.6rem;
	padding:2.3rem 1rem;
	position: relative;

	
	.backtotop {
		align-items: center;
		display: flex;
		justify-content: center;
		height:4.5rem;
		position: absolute;
		right:1rem;
		top : -3rem;
		width:4.5rem;
		z-index:1;

		svg {
			max-width: 1rem;
		}

		&:hover, &:focus {
			svg {
				path {
					fill:var(--bleu);
				}
			}
		}

		@include bp(lg) {
			right:var(--padding-x);
			top:-5rem;
		}

	}

	.copyright {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	a {
		color:var(--bleu);
		display: inline-block;
		font-weight: 400;
		text-decoration: none;
		transition-duration: 0.3s;
		&:hover, &:focus {
			color:var(--bleu);
			text-decoration: underline;
		}
	}

	ul {
		display: flex;
		list-style: none;
		padding:0;
		margin:0;

		li {
			position: relative;
			&::before {
				content: '•'; 
				color: var(--bleu);
				display: inline-block; 
				width: 1ch;
				margin: 0 1ch;
			}
		}

	}
}


