/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
.site-header {
	align-content: center;
	background-color: var(--blanc);
	border-bottom:solid 1px var(--bleu);
	display: flex;
	justify-content: space-between;
	position: relative;
	margin:0 var(--margin-x-header);
	z-index: 10; //pour les sous-menus
	
	.header-left, .header-right {
		align-items: center;
		display: flex;
		flex-basis:30%;
		flex-grow:1;
	}
	.header-right {
		justify-content: flex-end;
	}
	.title-area {
		align-items: center;
		display: flex;
		flex-basis:auto;
		flex-grow:0;
	}
}


.site-title {
	margin:1rem;
	position: relative;
	text-align: center;
	width:14.2rem;
	@include bp(sm) {
		margin:1rem 5rem;
	}
	@include bp(md) {
		margin:1rem 3.5rem;
		width:25vw;
	}
	@include bp(lg) {
		margin:3rem 3.5rem 1rem;
		width:25.3rem;
	}
	@include bp(xl) {
		width: 33rem;
		margin: 3.4rem 5.5rem 2.5rem;

	}
	@media (max-width: 550px) {
		margin: .75rem;
		position: relative;
		text-align: center;
		width: 18rem;
	}
}

.custom-logo-link {


}


#wpadminbar {
	position: fixed;
}
.admin-bar .topbar.js-sticky {
	top:32px;
}	


/*--------------------------------------------------------------
## Entry-header
--------------------------------------------------------------*/
.page .entry-header, .archive-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left:var(--margin-x-header);
	margin-right:var(--margin-x-header);
	margin-top: 10px;
	min-height:15rem;
	height:44vw;
	&, .entry-title, .archive-title, .subtitle {
		position: relative;
	}

	.entry-title, .archive-title,.subtitle {
		color: #FFFFFF;
		text-shadow: 0px 3px 6px #00000080;
	}

	.subtitle + .entry-title, .subtitle + .archive-title {
		margin-top: 0;
	}

	.subtitle {
		font-size: 2rem;
		margin-top: auto;
	}

	.entry-title, .archive-title {
		font-size: 3rem;
	}	
	.page-banniere {
		height:100%;
		left:0;
		position:absolute;
		top:0;
		width:100%;
		img {
			&.desktop {
				display: none;
			}
			height:100%;
			object-fit: cover;
			width:100%;
			@include bp(lg) {
				&.mobile {
					display: none;
				}
				&.desktop {
					display: flex;
				}
			}

		}
	}

	@include bp(lg) {
		height:calc(100vw * 300px / 1400px);
		max-height: 300px;
		.archive-title,.entry-title {
			font-size: 7rem;
		}
		.subtitle {
			font-size: 4rem;
		}

	}


	@include bp(xl) {
		min-height:28rem;
	}

}

@include bp(lg) {
	body.archive.js-product-menu-open {
		.archive-header, .no-results .entry-header {
			margin-bottom: var(--margin-y-2);
			margin-top: var(--submenu-height);
		}

	}
}


body.hide-header {
	.entry-header, .fil-ariane {
		@include screen-reader-text;
	}
}