/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
.site-header {
	background-color: var(--blanc);
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index:10;

	.site-branding, .recherche.bouton, .menu-toggle {
		position: relative;
	}
}


.site-title {
	border-bottom:solid 2px var(--bleu);
	margin:0;
	padding : 2rem var(--padding-x);
	text-align: center;
	@include bp(lg) {
		padding-top:3.5rem;
		padding-bottom:3.2rem;
	}
}

.custom-logo-link {
	display: inline-block;
	max-width:19rem;
}

.custom-logo {
	display: block;
	margin:0;
	//max-width: 169px;
}

//Topbar sticky en mobile
.topbar.js-sticky {
	position:fixed;
	left: 0;
	top: 0;
	width:100%;
}

#wpadminbar {
	position: fixed;
}
.admin-bar .topbar.js-sticky {
	top:32px;
}	


@include bp(lg) {
	.logo-sticky {
		display:none;
	}
	.nav-main.js-sticky {
		background-color:var(--blanc);
		box-shadow: 0 3px 3px rgba(18,75,90,0.2);
		position:fixed;
		left: 0;
		top: 0;
		width:100%;
		.logo-sticky {
			display:block;
		}
		.centreur {
			flex-basis:6rem;
		}
	}

	.admin-bar .nav-main.js-sticky {
		top:32px;
	}	
}


/*--------------------------------------------------------------
## Entry-header
--------------------------------------------------------------*/
.page-banniere {
	display: flex;
	height:31vw;
	width:100vw;
	img {
		object-fit: cover;
		object-position: center;
		width:100%;
	}
	@include bp(xxl) {
		height:60rem;
	}
}
