/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
.site-header {
	align-content: center;
	background-color: var(--blanc);
	border-bottom:solid 1px var(--bleu);
	display: flex;
	justify-content: space-between;
	position: relative;
	margin:0 var(--margin-x-header);
	
	
	.header-left, .header-right {
		align-items: center;
		display: flex;
		flex-basis:30%;
		flex-grow:1;
	}
	.title-area {
		align-items: center;
		display: flex;
		flex-basis:auto;
		flex-grow:0;
	}
}


.site-title {
	margin:1rem 5rem;
	position: relative;
	text-align: center;
	width:14.2rem;
	@include bp(md) {
		margin:1rem 3.5rem;
		width:25vw;
	}
	@include bp(lg) {
		margin:2.5rem 3.5rem;
		width:25.3rem;
	}
	@include bp(xl) {
		width: 33rem;
		margin: 3.4rem 5.5rem 2.5rem;

	}
}

.custom-logo-link {


}


#wpadminbar {
	position: fixed;
}
.admin-bar .topbar.js-sticky {
	top:32px;
}	


/*--------------------------------------------------------------
## Entry-header
--------------------------------------------------------------*/
.page-banniere {
	display: flex;
	height:31vw;
	width:100vw;
	img {
		object-fit: cover;
		object-position: center;
		width:100%;
	}
	@include bp(xxl) {
		height:60rem;
	}
}
