.home {
	.site-header {
		border-bottom: none;
	}
	.site-footer {
		padding-bottom: 8rem; //footer toujours visible même avec bouton Join sticky
	}
	.pmpro_actions_nav {
		display: none;
	}

	.home-aim {
		margin:0 auto;
		max-width: 85rem;
	}

	

	.home-sunrise {
		margin:5rem auto;
		max-width: 62rem;
		img {
			object-fit: contain;
		}
		p.has-large-font-size {
			margin-bottom: 1.4rem;
			text-transform: uppercase;
		}
	}

	.wp-block-cover, .wp-block-cover-image {
		min-height: 300px;
	}

	figure.is-type-video {
		margin:0 auto;
		max-width: 106.4rem;
		padding:1rem;
		@include bp(lg) {
			padding:3rem;
		}

	}

	.home-contact {
		padding: 0 var(--padding-x);
		@include bp(lg) {
			margin:0 auto;
			max-width: 85rem;
			padding:0;
		}
		text-align: center;
		h2 {
			text-transform: uppercase;
			margin-bottom: 3rem;
			padding-bottom: 0.5em;
			position: relative;
		
			&::after {
				background-color: var(--bleu);
				bottom: 0;
				content:' ';
				height:3px;
				left:calc(50% - 5rem);
				opacity: 0.3;
				position:absolute;
				width:10rem;
			}
		}
		.home-contact-intro {
			font-size: 2rem;
			font-weight: 300;
			margin-bottom: 2rem;
			a {
				font-weight: 300;
				text-decoration: underline;
			}
		}

		.nf-form-fields-required {
			display: none;
		}
		
		nf-fields-wrap {
			display: block;
		}

		.nf-after-field .nf-error-msg {
			text-align: left;
		}

		input[type="submit"] {
			font-weight: 700;
		}

		@include bp(sm) {
			input[type="submit"] {
				min-width: 38rem;
			}
		}

		@include bp(lg) {
			margin:0 auto;
			max-width:85rem;
			h2 {
				font-size: 4rem;
			}
		}
	}
}
//Blocs communs aux deux homes
.home-commited {
	a.wp-element-button {
		font-weight: 300;
		strong {
			font-weight: 700;
		}
	}
	@include bp(lg) {
		margin:0 auto;
		max-width: 85rem;
		padding:0;
	}
}
//Home premium
.home-premium-welcome {
	margin-bottom: 3.5rem;
	margin-top: 2.3rem;
	h2 {
		font-size: 2.6rem;
		line-height: 3rem;
		margin-bottom: 2.7rem;
	}
	p {
		font-size: 1.6rem;
		line-height: 2rem;

		&strong {
			margin-bottom: 4px;
		}
	}

	@include bp(lg) {
		margin-bottom: 7rem;
		margin-top: 6.85rem;

		h2 {
			font-size: 5rem;
			line-height: 6.8rem;
			margin-bottom: 4.35rem;
		}
		p {
			font-size: 2rem;
			line-height: 2.8rem;
			margin-left:auto;
			margin-right: auto;
			max-width: 85rem;

			&strong {
				margin-bottom: 15px;
			}
		}
	}
}

.home-premium-assets {
	margin-top: 2rem;
	h3 {
		font-size: 1.8rem;
		line-height: 2rem;
		margin: 0;
		text-transform: uppercase;
		a {
			color:var(--bleu);
		}
	}
	
	p {
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 10px;
		&.conclusion {
			font-size: 1.8rem;
			line-height: 2rem;
		}
	}

	@include bp(lg) {
		margin-left:auto;
		margin-right: auto;
		margin-top:6rem;
		max-width: 85rem;
		h3 {
			font-size: 2.6rem;
			line-height: 2.8rem;
		}
		p {
			font-size: 2rem;
			line-height: 2.8rem;
			margin-bottom: 15px;

			&.conclusion {
				font-size: 2rem;
				line-height: 2.8rem;
				margin-top: 9rem;
				text-align: center;
			}
		}
		

	}
}