//Liste de produits 
.produits {
	display:grid;
	grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
	grid-column-gap: 6rem; //safari < 14
	column-gap: 6rem;
	grid-row-gap:var(--margin-y-2);
	row-gap:var(--margin-y-2); //safari < 14
	list-style:none;
	margin:0;
	padding:calc(3rem + var(--margin-y-2)) Max(3rem, var(--padding-x)) 0; // Max avec une majuscule sera ignoré par SASS (sensible à la casse) mais traité en CSS (insensible à la casse)
	
	@include bp(xl) {
		grid-template-columns: repeat(4,1fr);
	}
	@include bp(xxl) {
		grid-column-gap: 10rem;
		column-gap: 10rem;

	}
}
//Vignette produit
li.product {
	--taille-label: 6rem;

	.card-image {
		display:flex;
		margin-bottom:0.5rem;
		width:100%;
		img {
			object-fit: cover;
			width: 100%;
		}
	}
	.card-title h3, .card-cat {
		@include fs(1.1rem,2.4rem);
		line-height: 1.1;
		margin-bottom: 0;
	}	
	.card-cat {
		color:var(--cyan);
		font-weight: 300;
	}
	.card-info {
		align-items: flex-start;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;

	}
	.card-title {
		flex-basis:calc(100% - var(--taille-label) - 1rem );
		margin-bottom:0.5rem;
		&:hover, &:focus {
			h3 {
				color:var(--cyan);
			}
		}
	}
	.to-selection {
		flex-basis:var(--taille-label);
		height:0;
		margin:0;
		position:relative;
		width:var(--taille-label);
		label {
			font-size:0.8rem;
			font-weight: 300;
			line-height:1;
			height:1.7rem;
			position: absolute;
			right:0;
			text-align: right;
			top:0;
			width:var(--taille-label);

			--size:0.7rem;
			//la marque coché/décoché est affichée après le label
			&::before {
				display: none;
			}
			&::after {
				display: inline-flex;
			}

			@include bp (md) {
				font-size: 1.4rem;
				--size:1.4rem;
			}
		}
	}
	
}