//Liste de produits 
//column masonry : https://w3bits.com/css-masonry/
// Attention avec Chrome, la répartition du contenu dans les colonnes ne se passe pas comme sur Firefox. Possibilité d'utiliser column-fill:balance mais en imposant une hauteur 
//left-to-right masonry : https://w3bits.com/css-grid-masonry/
//js masonry with order : https://masonry.desandro.com/options.html
.product-grid {
	column-count: 2;
	column-gap: 1rem;
	list-style:none;
	margin:0;
	padding:0;
	li.product {
		display: inline-block;
		margin-bottom: 1rem;
		width: 100%;
	}
	@include bp(md) {
		column-gap: 1.6rem;
		li.product {
			margin-bottom: 1.6rem;
		}
		&.nb-col-3 {
			column-count: 3;
		}
		&.nb-col-4 {
			column-count: 4;
		}
		
	} 
}

//Quand il y a moins de produits, on utilise flex
.product-flex {
	align-items:flex-start;
	display:flex;
	column-gap: 1rem;
	list-style:none;
	margin:0;
	padding:0;
	li.product {
		flex-basis:50%;
		margin-bottom: 1rem;
	}
	@include bp(md) {
		column-gap: 1.6rem;
		li.product {
			flex-basis:33%;
			margin-bottom: 1.6rem;
		}
	}
}

//Vignette produit
li.product {
	--taille-label: 3.9rem;
	@include bp (md) { 
		--taille-label: 4.7rem;
	}
	.card-image {
		margin-bottom:0.5rem;
		overflow: hidden;
		width:100%;
		img {
			object-fit: cover;
			width: 100%;
		}
	}
	.card-title h3, .card-cat {
		//@include fs(1.5rem,2.0rem);
		font-size: 1.5rem;
		@include bp(lg) {
			font-size: 2rem;
		}
		line-height: 1.1;
		margin-bottom: 0;
		transition: color 0.3s ease-in-out ;
	}	
	.card-cat {
		color:var(--cyan);
		font-weight: 300;
		text-decoration: none;
	}
	.card-info {
		align-items: flex-start;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;

	}
	.card-title {
		flex-basis:calc(100% - var(--taille-label) - 0.5rem );
		margin-bottom:0.5rem;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: none;
			h3 {
				color:var(--cyan);
			}
		}
	}
	.to-selection {
		flex-basis:var(--taille-label);
		height:0;
		margin:0;
		position:relative;
		width:var(--taille-label);
		label {
			font-size:1.35rem;
			font-weight: 300;
			line-height:1;
			height:1.7rem;
			position: absolute;
			right:0;
			text-align: right;
			top:0;
			width:var(--taille-label);

			--size:0.7rem;
			//la marque coché/décoché est affichée après le label
			&::before {
				display: none;
			}
			&::after {
				display: inline-flex;
			}

			@include bp (md) {
				font-size: 1.4rem;
				--size:1.4rem;
			}
		}
		&.my-selection-page {
			label, input:focus + label, input:checked + label {
				--color:var(--rouge);
				color:var(--rouge);
			}
		}
	}
	
}