//Styles communs
ul.menu-my-account-links, .email-preferences {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1.6rem;
	list-style: none;
	margin: 0 auto var(--margin-y-2);
	max-width: 31rem;
	padding: 0;

	a, button {
		align-items: center;
		background-color: var(--bleu-clair);
		color: var(--bleu);
		display: flex;
		font-size: 2.2rem;
		font-weight: 700;
		height: 19rem;
		justify-content: center;
		padding: 3rem 5rem;
		text-align: center;
		transition:color var(--transition);
		width: 100%;

		&:hover,
		&:focus {
			color: var(--cyan);
			text-decoration: none;
		}
	}


	@include bp(md) {
		column-gap: 1.6rem;
		grid-template-columns: 1fr 1fr;
		max-width:unset;
	}

	@include bp(lg) {
		column-gap: 1.6rem;
		grid-template-columns: repeat(4, 1fr);
	}

}

//Styles spéciaux email preferences
.email-preferences {
	button {
		--color: var(--bleu);
		background-color: var(--bleu-clair);
		border-color:transparent;
		color:var(--color);
		flex-direction: column;
		padding:2rem;
		text-transform: unset;
		transition: none;

		.picto {
			align-items: center;
			background-color: var(--color);
			border-radius: 100%;
			display: flex;
			height:3.8rem;
			justify-content: center;
			margin-top: 1.5rem;
			width:3.8rem;
			
		}
		.croix {
			svg path {
				fill:var(--blanc);
			}
		}
		&:focus, &:hover {
			--color:var(--bleu);
			//border-color:var(--color);
			color:var(--color);
		}
		.check {
			background-color: var(--color);
			display: none;
		}

		&.checked {
			&, &:focus, &:hover {
				--color:var(--cyan);
			}
			
			.check {
				display:flex;
			}
			.croix {
				display:none;
			}
			
		}

		&:disabled {
			opacity:0.5;
		}

		&.avec-image {
			overflow: hidden;
			&, .name, .picto {
				position: relative;
			}
			.image {
				display: flex;
				height:100%;
				left:0;
				position:absolute;
				top:0;
				transform-origin: center center;
				transition: all var(--transition);
				width:100%;
				& > img {
					height:100%;
					object-fit: cover;
					width:100%;
				}
			}

			&:focus, &:hover {
				.image {
					transform:scale(1.05);
				}
			}
		}


		@include bp(xl) {
			height:13.6rem;
		}
	}
}

/**********************Formulaires de la page Personal information*********************/ 
.pmpro_member_profile_edit_wrap form.pmpro_form {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	select {
		max-width:unset;
		width:100%;
	}
	label {
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 0.7rem;
	}

	select {
		height:5rem;
		font-weight: 700;
	}
	.pmpro_submit {
		text-align: center;
	}
	input[type="submit"] {
		font-size: 2.2rem;
		padding:0.5rem 3rem;
	}
	.display_name,
	.pmpro_submit hr,
	.pmpro_btn-cancel {
		display: none;

	}

	@include bp(md) {
		.pmpro_member_profile_edit-fields {
			display: flex;
			flex-wrap:wrap;
		}
		.pmpro_member_profile_edit-field, .pmpro_checkout-field {
			flex-basis:50%;
			padding-right:1.6rem;
		}
		#pmpro_baddress1_div {
			flex-basis:100%;
		}
	}
	@include bp(lg) {
		.pmpro_member_profile_edit-field, .pmpro_checkout-field {
			flex-basis:33%;
		}
	}
}


.change-password {
	border-top:solid 1px var(--bleu);
	margin-top: var(--margin-y-2);
	padding-top: var(--margin-y-2);
	
	h2:not(.custom) {
		display: none;
	}

	.pmpro_change_password-fields {
		input[type="password"],
		select {
			width:100%;
		}
		label {
			font-size: 2rem;
			font-weight: 300;
			margin-bottom: 0.7rem;
		}

		.pmpro_change_password-field-pass1 #pass-strength-result {
			display: none;
		}
		.lite {
			font-size: 1.6rem;
		}

	}
	.pmpro_submit {
		text-align: center;
		hr,.pmpro_btn-cancel  {
			display: none;
		}
	}
	input[type="submit"] {
		font-size: 2.2rem;
		padding:0.5rem 3rem;
	}

	@include bp(md) {
		.pmpro_change_password_wrap {
			max-width:50%;
			padding-right:1.6rem;
		}
		
	}

}

@media screen and (max-width:550px) {
	.pmpro_member_profile_edit_wrap form.pmpro_form , .change-password {
		label, input, .pmpro_change_password-fields label {
			font-size: 1.5rem;
		}
		input.pmpro_btn, input[type="submit"] {
			font-size: 2rem;
		}
	}
	
}

#pmpro_account-profile {
	//Section masquée sur la page My personal information
	display: none;
}

/**********************Tables de la page My membership*********************/ 

#pmpro_account, #pmpro_account-invoices, #pmpro_cancel {
	h3, .pmpro_box h3 {
		margin-bottom: 1em;
	}
	.pmpro_box {
		border:none;
		padding-top:var(--margin-y-2);
	}
	.pmpro_table {
		th {
			font-size: 2rem;
			font-weight: 300;
			padding-bottom: 0.5rem;
			text-align:left;
		}
		td {
			font-size: 1.8rem;
			font-weight: 700;
			padding:0.5rem;
		}
		th, tr:last-of-type td {
			border-bottom:solid 1px var(--bleu);
		}

		tbody {
			tr:first-of-type {
				background-color: var(--bleu-clair);
			}
		}

		a.download {
			color:var(--bleu);
			&:hover,&:focus {
				color:var(--cyan);
				text-decoration: none;
			}
		}
	}
	#pmpro_account-membership > .pmpro_actionlinks {
		display: none;
	}

}

//Positionner en absolute les boutons d'action du membership sous la table
#pmpro_account-membership {
	&.pmpro_box {
		padding-bottom: calc(2 * var(--margin-y-2));
	}
	table {
		position: relative;
		.pmpro_actionlinks {
			bottom:-6rem;
			color:transparent;
			position:absolute;
			text-align: center;
			width:100%;
			a {
				@include bouton;
				@include couleurs-bouton;
				font-size: 2.2rem !important;
				padding:0 5rem;
			}
		}
	}
}

/**********************Formulaires de la page My billing information*********************/ 

.pmpro_billing_wrap {
	//Section masquée 
	#pmpro_billing_address_fields {
		display: none;
	}

	form.pmpro_form label {
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 0.7rem;
	}

	.pmpro_submit {
		text-align: center;
		hr,.pmpro_btn-cancel  {
			display: none;
		}
	}
	input[type="submit"] {
		font-size: 2.2rem;
		padding:0.5rem 3rem;
	}

}

.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#AccountNumber, .pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#Expiry, .pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#CVV, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#AccountNumber, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#Expiry, .pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#CVV {
	border-color:var(--bleu);
	border-radius: 0;
	color:var(--bleu);
}