.single-product {
	.entry-content {
		padding:0 var(--padding-x);
	}
}
h1.product-title {
	@include fs(2.2rem,4.6rem);
	margin-bottom:0;
	text-align: left;
	text-transform: unset;
}

.to-selection {
	display: block;
	margin:1.2rem 0 1.6rem;
	@include bp(lg) {
		margin:1.3rem 0 2.4rem;
	}
	.remove {
		display: none;
	}

	label {
		@include fs(1.6rem,1.8rem);
		font-weight: 700;
	}

	input:checked + label {
		.remove {
			display: inline-block;
		}
		.add {
			display: none;
		}
	}
}


