.single-product {
	.entry-content {
		padding:0 var(--padding-x);
	}

	h2 {
		@include fs(2.2rem,4rem);
		margin-bottom: 5rem;
		text-align: center;
		text-transform: uppercase;
	}

	section {
		margin-bottom: 5rem;
	}

	@include bp(lg) {
		h2 {
			margin-bottom: 5.5rem;
		}
		section {
			margin-bottom: 7rem;
		}
	}
}

/***************Product-top*************/ 

h1.product-title {
	@include fs(2.2rem,4.6rem);
	margin-bottom:0;
	text-align: left;
	text-transform: unset;
}

.product-gallery {
	.default {
		display: block;
		margin:0 auto;
	}
}

.product-top {
	align-items: flex-start;
	.placeholder-gallery {
		display: none;
	}
	.gallery-open {
		--c:10rem;
		position: absolute;
		top:  calc(50% - var(--c)/2);
		left: calc(50% - var(--c)/2);
		z-index: 5;
		background-color: rgba(255,255,255,0.5);
		display: flex;
		width: var(--c);
		height: var(--c);
		align-items: center;
		justify-content: center;
		border-radius:  calc(2 * var(--c));
		opacity: 0;
		transition:opacity 0.3s ease-in-out;
		svg {
			border:none;
		}
	}
	.gallery-close, .gallery-fullscreen {
		display: none;
	}
	.product-gallery {
		position: relative;
		&:hover {
			.gallery-open {
				opacity:1;
			}
		}

		//TODO cacher les flèches
	}
	&.js-gallery-opened {

		//TODO cacher les dots et afficher + styler les flèches
		
		.placeholder-gallery {
			display: block;
		}

		.product-gallery {
			position: fixed;
			top: 0;
			width: 100vw;
			left: 0;
			height: 100vh;
			max-width: unset;
			max-height: unset;
			background: rgba(23,58,101,0.8);
			z-index: 15;
			display: flex;
			align-items: center;
			.owl-carousel {
				--height:80vh;
				max-height: var(--height);
				max-width: calc(1.39 * var(--height)); //desktop TODO adapter mobile ou max cette valeur et 80vw
				margin: auto;
			}
		}
		.gallery-open {
			display: none;
		}
		.gallery-close, .gallery-fullscreen {
			display: block;
			padding:1rem;
			position:absolute;
			top:5rem; //TODO ajuster selon présence admin topbar
			right:3rem;
			width:4.1rem; 
		}
		.gallery-fullscreen {
			right:6rem;
		}
	}
}

.to-selection {
	display: block;
	margin:1.2rem 0 1.6rem;
	@include bp(lg) {
		margin:1.3rem 0 2.4rem;
	}
	.remove {
		display: none;
	}

	label {
		@include fs(1.6rem,1.8rem);
		font-weight: 700;
	}

	input:checked + label {
		.remove {
			display: inline-block;
		}
		.add {
			display: none;
		}
	}
}

.contact-request {
	background-color: var(--bleu-clair);
	display: block;
	padding:0.5rem 1.5rem 1.5rem;
	legend {
		font-weight: 700;
		@include fs(1.6rem,2.4rem);
		margin-bottom: 0.6rem;
	}
	.info, button {
		@include fs(1.1rem,1.9rem);
		display: block;
	}
	.sent {
		display: none;
	}

	button {
		font-weight: 300;
		strong {
			font-weight: 700;
		}
	}

	&.request-sent {
		.send {
			display: none;
		}
		.sent {
			display:block;
		}

		button {
			--taille-picto:1.2rem;
			background-color: transparent;
			border-color:var(--cyan);
			color:var(--cyan);
			margin-bottom: 0.6rem;
			padding: 0.6em;
			position:relative;
			&::before {
				background-color: var(--cyan);
				border-radius: 100%;
				color:var(--blanc);
				content:'✔';
				display: inline-block;
				font-size: 1rem;
				height:var(--taille-picto);
				margin-right: 1ch;
				width:var(--taille-picto);
			}
			@include bp(lg) {
				--taille-picto:1.9rem;
				&::before {
					font-size: 1.5rem;
				}
			}
		}
	}
}


@include bp(lg) {
	.product-top {
		display: flex;
	}

	.product-gallery, .product-main, .placeholder-gallery {
		flex-basis:50%;
		max-width: 50%;
	}
	.product-main {
		padding-left:4rem;
	}

	h1.product-title.show-for-lg {
		display: block;
		margin-bottom: 1.6rem;
	}
}

/***************Product-details*************/ 

.product-details {
	ul.table {
		list-style:none;
		margin:0;
		padding:0;

		li.row {
			padding:1rem;
			&:nth-of-type(2n+1) {
				background-color: var(--bleu-clair);
			}
		}
	}

	@include bp(md) {
		margin-left: auto;
		margin-right: auto;
		max-width: 84rem;	

		.sep {
			display: none;
		}
		h2 {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-left:auto;
			margin-right:auto;
			position: relative;
			&::before, &::after {
				background-color: var(--bleu);
				content:'';
				display: inline-block;
				height:2px;
				margin:0 3.6rem;
				width:10.5rem;
			}
		}
		ul.icons {
			align-items: flex-start;
			display: flex;
			flex-wrap:wrap;
			justify-content: center;
			list-style:none;
			margin:0;
			padding:0;

			li.icon-wrap {
				flex-basis:calc(8.6rem + 4rem);
				flex-grow:0;
				flex-shrink:0;
				padding:0 2rem 2rem;
				.icon {
					--icon-size:7rem;
					border:solid 1px var(--cyan);
					border-radius:100%;
					align-items: center;
					display: flex;
					justify-content: center;
					margin-bottom: 1.3rem;
					padding:1rem;
					height:var(--icon-size);
					width:var(--icon-size);
				}
				.legend {
					color:var(--cyan);
					font-size: 1.8rem;
					font-weight: 700;
					line-height: 1;
					margin-bottom: 0;
					text-align: center;
				}
			}
		}
	}
}

.product-video {
	iframe {
		height:50vw;
		width:100%;
	}
	@include bp(xl) {
		iframe {
			height:72rem;
		}
	}
}

.product-related {
	h2 {
		text-transform: unset;
		span {
			color:var(--cyan);
		}
	}
	.browse-buttons {
		align-items: center;
		display:flex;
		flex-direction:column;
		justify-content: center;

		.button {
			font-weight: 300;
			margin-bottom:1rem;
			strong {
				font-weight: 700;
			}
		}
	}

	@include bp(md) {
		.browse-buttons {
			flex-direction: row;
			margin-bottom: 3rem;
			.button {
				margin:1rem;
			}
		}

		.siblings-title {
			display: block;
			font-weight: 700;
			text-align: center;
		}

		.siblings {
			align-items: center;
			display: flex;
			flex-wrap:wrap;
			justify-content: center;
			list-style:none;
			margin:0;
			padding:0;

			.button {
				margin: 0 1rem 2rem;
			}
		}
	}
}


