.pmpro-confirmation {
	//Masquer bloc natif PMPRO et fil d'ariane
	.pmpro_confirmation_wrap, .fil-ariane {
		display: none; 
	}
	.entry-content {
		margin-left: var(--margin-x-header);
		margin-right: var(--margin-x-header);
		position: relative;
	}


	
	.confirmation-thankyou {
	
		padding-top: 2rem;
		h2, h3 {
			color:var(--bleu);
		}
		h2 {
			font-size: 2.6rem;
			margin-bottom: 0.5em;
			text-transform: unset;
			br {
				display: none;
			}
		}

		figure {
			margin-bottom: 1.2rem;
		}
	

		@include bp(lg) {
			padding-top: 5rem;
			h2 {
				font-size: 5rem;
				br {
					display: block;
				}
			}

			p {
				font-size: 2rem;
			}
		}
	}
	.confirmation-enjoy {
		padding:0 2rem 5rem;
		.wp-block-columns {
			margin-top: var(--margin-y-1);
		}
		a {
			font-weight: 300;
			strong {
				font-weight: 700;
			}
		}

		.wp-block-button, .wp-block-button__link {
			width: 100%;
		}
		@media screen and (min-width:350px) {
			.wp-block-button, .wp-block-button__link {
				width: unset;
			}
			.wp-block-button__link {
				min-width: 34rem;
			}
		}
		
		@include bp(md) {
			.wp-block-column:first-of-type {
				border-right: solid 1px var(--bordure);
			}
			.wp-block-column:not(:first-child) {
				margin-left: 0;
			}
		}

		
	}

	.confirmation-thankyou, .confirmation-enjoy {
		@include bp(md) {
			@include padding-x(5rem);
		}
		@include bp(lg) {
			@include padding-x(0);
			.wp-block-group__inner-container {
				@include max-width(90rem);
			}
		}
	}
}