.pmpro-confirmation {
	//Masquer bloc natif PMPRO
	.pmpro_confirmation_wrap {
		display: none;
	}
	.entry-content {
		margin-left: var(--margin-x-header);
		margin-right: var(--margin-x-header);
		position: relative;
	}

	@include bp(xl) {
		h2 {
			font-size: 7rem;
		}
	}
	
	.confirmation-thankyou {
		@include pointe;
		--pointe:95%;

		h2, h3 {
			color:var(--blanc);
		}
		h2 {
			margin-bottom: 0.5em;
			text-transform: unset;
		}

		p.has-big-font-size {
			margin-bottom: 2em;
		}
	}
	.confirmation-enjoy {
		padding:0 2rem 5rem;
		.wp-block-columns {
			margin-top: var(--margin-y-1);
		}
		a {
			font-weight: 300;
			strong {
				font-weight: 700;
			}
		}
		@include bp(md) {
			.wp-block-column:first-of-type {
				border-right: solid 1px var(--bordure);
			}
			.wp-block-column:not(:first-child) {
				margin-left: 0;
			}
		}
	}

	.confirmation-thankyou, .confirmation-enjoy {
		@include bp(md) {
			@include padding-x(5rem);
		}
		@include bp(lg) {
			@include padding-x(0);
			.wp-block-group__inner-container {
				@include max-width(85rem);
			}
		}
	}
}