.home-quote {
  color: var(--bleu);
  font-size: 2.2rem;
  margin-bottom: 4rem;
  padding: 0 var(--padding-x);
  text-align: center;
}
.home-quote q {
  display: block;
  font-style: italic;
  margin-bottom: 3rem;
}
.home-quote q strong {
  color: var(--cyan);
}
.home-quote q::before, .home-quote q::after {
  display: none;
}
.home-quote .image {
  margin-bottom: 1.4rem;
  width: 25rem;
}
.home-quote .image img {
  border-radius: 50%;
}
.home-quote .name {
  margin-bottom: 0;
}
.home-quote > * {
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}