.checkout-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--margin-x-header);
  margin-right: var(--margin-x-header);
  margin-top: 1rem;
  padding: var(--margin-y-1) var(--padding-x) 3.4rem;
  position: relative;
  z-index: 1;
}
.checkout-header, .checkout-header .title, .checkout-header .subtitle {
  color: var(--bleu);
}
.checkout-header .title, .checkout-header .subtitle {
  font-weight: bold;
  margin-top: 0;
}
.checkout-header .title {
  font-size: 3.8rem;
  line-height: 5.2rem;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.checkout-header .subtitle {
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 9px;
}
.checkout-header .offers {
  list-style: none;
  margin: 0 0 4rem;
  padding: 0;
  width: 100%;
}
.checkout-header .offer {
  --size:0.8rem;
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  justify-content: center;
  margin: 0;
  position: relative;
  text-align: center;
}
.checkout-header .offer .picto {
  height: var(--size);
  margin-right: 6px;
  width: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px;
}
.checkout-header .offer .picto svg {
  max-width: var(--size);
}
.checkout-header .text {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}
.checkout-header .small-text {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 2.3rem;
  text-align: center;
}
.checkout-header .decor {
  --size:4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--size);
}
.checkout-header .decor svg {
  max-height: 100%;
}
@media (min-width: 1024px) {
  .checkout-header {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }
  .checkout-header .title {
    font-size: 6rem;
    line-height: 8.2rem;
  }
  .checkout-header .subtitle {
    font-size: 3.2rem;
    line-height: 4.3rem;
    margin-bottom: 2.8rem;
  }
  .checkout-header .offers {
    margin-bottom: 2rem;
  }
  .checkout-header .offer {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 7px;
  }
  .checkout-header .text {
    font-size: 3.2rem;
    line-height: 4.3rem;
    margin-bottom: 2.3rem;
  }
  .checkout-header .small-text {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 8rem;
  }
  .checkout-header .decor {
    --size:10rem;
  }
}